:host {
  width: 100%;
  background-color: var(--content-back-color);
  display: block;
  padding: 10px 0 40px;
}

.categories {
  min-height: 75px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border-top: solid 1px var(--main-fore-color);
  border-bottom: solid 1px var(--main-fore-color);

  .category {
    font-size: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    a {
      padding: 25px 30px;
    }
  }

}
