@import '~normalize.css';

@font-face {
  font-family: cuprum;
  src: url('assets/fonts/cuprum.otf') format('opentype');
}


*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --deep-back-color: #101010;
  --content-back-color: #262626;
  --side-back-color: #171717;

  --main-fore-color: #fff;
  --pale-fore-color: #7a7a7a;
  --bright-fore-color: #fcd041;
  --paled-bright-fore-color: rgba(252, 208, 65, .8);
}

html {
  background-color: var(--side-back-color);
  color: var(--main-fore-color);
  font-family: cuprum, sans-serif;
  font-weight: 300;
  font-size: 19px;
}

ul {
  list-style: none;
}

p {
  text-align: center;

  a {
    color: var(--bright-fore-color);
    font-weight: 700;
  }
}

a {
  color: var(--main-fore-color);
  text-decoration: none;
  transition: all .4s ease;

  &:hover {
    color: var(--pale-fore-color)
  }

  &.selected {
    color: var(--bright-fore-color)
  }

  &:active {
    color: var(--paled-bright-fore-color);
  }

}

// Формы

form {
  font-size: 23px;

  label {
    display: block;
  }

  label + input {
    margin-top: 10px;
  }

  button {
    border: 1px solid var(--main-fore-color);
    background-color: transparent;
    color: var(--main-fore-color);
    transition: all .4s ease;
    cursor: pointer;

    &:hover {
      outline: var(--pale-fore-color) 1px solid;
      border-color: transparent;
    }

    &:focus, &:active {
      outline: var(--bright-fore-color) 1px solid;
      border-color: transparent;
    }
  }
}

input {
  border: 1px var(--main-fore-color) solid;
  background-color: transparent;
  color: var(--main-fore-color);
  padding: 12px 6px 12px 10px;
  transition: all .5s ease;

  &:hover {
    outline: var(--pale-fore-color) 1px solid;
    border-color: transparent;
  }

  &:focus, &:active {
    outline: var(--bright-fore-color) 1px solid;
    border-color: transparent;
  }
}

// Костыли
.huge-logo {
  font-size: 35px;
  font-weight: 700;
}
