<app-decorated-title-wrapper>
  <h1 class='selected'>Добавить новый товар в категории: {{(category$ | async).title}}</h1>
</app-decorated-title-wrapper>
<form [formGroup]='createProductForm' class='createProductForm' (ngSubmit)='createProduct()'>

  <div class='group'>
    <label>Имя</label>
    <input class='block' type='text' formControlName='name'>
    <cms-form-error-display
      [needToShow]='createProductForm.controls["name"].touched || createProductForm.controls["name"].dirty'
      [errors]='createProductForm.controls["name"].errors'
    ></cms-form-error-display>
  </div>

  <div class='group'>
    <label>Цена</label>
    <cms-numeric formControlName='price'></cms-numeric>
    <cms-form-error-display
      [needToShow]='createProductForm.controls["price"].touched || createProductForm.controls["price"].dirty'
      [errors]='createProductForm.controls["price"].errors'
    ></cms-form-error-display>
  </div>

  <div class='group'>
    <label>Картинка</label>
    <input formControlName='image' class='block' type='file' (change)='onFileSelect($event)'>
    <cms-form-error-display
      [errors]='createProductForm.get("image").errors'
      [needToShow]='true'></cms-form-error-display>
  </div>

  <div class='list' formArrayName='infoValues'>
    <div class='item' *ngFor='let field of infoValues.controls;index as i'>
      <div [ngClass]='{small: field.value.type === "bool"}' class='group' [formGroupName]='i'>
        <label *ngIf='field.value.type !== "bool"'>{{field.value.name}}</label>

        <input formControlName='value' *ngIf='field.value.type === "string"' class='block' type='text'>
        <cms-numeric formControlName='value' *ngIf='field.value.type === "num"'></cms-numeric>
        <cms-checkbox formControlName='value' *ngIf='field.value.type === "bool"'
                      [title]='field.value.name'
        ></cms-checkbox>
        <cms-select formControlName='value' *ngIf='field.value.type === "enum"'
                    [options]='field.value.variants'
        ></cms-select>

        <cms-form-error-display *ngIf='field.value.type !== "bool"'
                                [errors]='field.get("value").errors'
                                [needToShow]='field.get("value").dirty || field.get("value").touched'
        ></cms-form-error-display>

      </div>
    </div>
  </div>

  <button [disabled]='!createProductForm.valid' class='submit'>Создать продукт</button>
</form>

