
:host {
  background-color: var(--deep-back-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.content {
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

  .item {
    padding: 0 20px;
  }
}

