<app-container class='content'>
  <ul class='list'>
    <li class='item'><a routerLinkActive='selected' routerLink='home'>Дом</a></li>
    <li class='item'><a routerLinkActive='selected' routerLink='catalog'>Каталог</a></li>

  </ul>

  <ul class='list' *ngIf='isAuthorized else authOptions'>
    <li class='item'>
      <a routerLinkActive='selected' routerLink='comparison'>
        <img src='assets/img/analytics.svg' alt=''>
        Сравнение
      </a>
    </li>
    <li class='item'>
      <a routerLinkActive='selected' routerLink='basket'>
        <img src='assets/img/shopping-cart.svg' alt=''>
        Корзина
      </a>
    </li>
  </ul>
  <ng-template #authOptions>
    <ul class='list'>
      <li class='item'><a routerLinkActive='selected' routerLink='register'>Регистрация</a></li>
      <li class='item'><a routerLinkActive='selected' routerLink='login'>Логин</a></li>
    </ul>
  </ng-template>

</app-container>
