:host {
  display: block;
  padding-top: 20px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
}
