<header>
  <app-container>
    <nav class='nav' [ngStyle]='!(authService.isAuth$ | async) && {flexDirection: "row-reverse"}'>
      <ul *ngIf='authService.isAuth$ | async' class='list'>
        <li><a routerLinkActive='selected' routerLink='/admin/categories'>Категории</a></li>
        <li><a routerLinkActive='selected' routerLink='/admin/products'>Товары</a></li>
      </ul>
      <ul *ngIf='!(authService.isAuth$ | async)' class='list'>
        <li><a routerLinkActive='selected' routerLink='/admin/login'>Логин</a></li>
      </ul>
      <ul *ngIf='authService.isAuth$ | async' class='list'>
        <li><a routerLinkActive='selected' routerLink='/admin/register'>Регистрация</a></li>
        <li>
          <a style='cursor: pointer' routerLinkActive='selected'
             (click)='$event.preventDefault(); authService.logout()'
          >Выйти</a>
        </li>
      </ul>
    </nav>
  </app-container>
</header>
