header {
  background-color: var(--deep-back-color);
}

.nav {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;

  li {
    margin: 0 30px;
    font-size: 18px;
  }
}
