<app-container class='container'>
  <app-decorated-title-wrapper class='auth-title'>
    <h1 *ngIf='!isRegister' class='selected'>Логин</h1>
    <h1 *ngIf='isRegister' class='selected'>Регистрация</h1>
  </app-decorated-title-wrapper>
  <p>Авторизация позволит вам пользоваться сравнением и добавлять товары в корзину</p>
  <form class='auth-form'>
    <div>
      <label>Email</label>
      <input placeholder='Email' name='email' type='text'>
    </div>

    <div *ngIf='!isRegister'>
      <label>Пароль</label>
      <app-password-input placeholder='Пароль' name='password'></app-password-input>
    </div>
    <div *ngIf='isRegister'>
      <label>Пароль</label>
      <app-password-input placeholder='Пароль' name='password'></app-password-input>
    </div>
    <div *ngIf='isRegister'>
      <label>Повторите пароль</label>
      <app-password-input placeholder='Повторите пароль' name='repeatPassword'></app-password-input>
    </div>

    <div *ngIf='!error' class='huge-logo'>ТУПА НЕЧЕЛОВЕЧЕСКИ ОГРОМНЫЙ ЛОГОТИП</div>
    <p *ngIf='error' class='error'>{{error}}</p>

    <button *ngIf='!isRegister'>Войти</button>
    <button *ngIf='isRegister'>Зарегистрироваться</button>
  </form>
  <p *ngIf='!isRegister'>Нет аккаунта? <a routerLink='/register'>Зарегистрироваться!</a></p>
  <p *ngIf='isRegister'>Уже есть аккаунт? <a routerLink='/login'>Войти!</a></p>
</app-container>
