:host {
  position: relative;
  display: block;
}

input {
  padding-right: 65px;
}

label + :host {
  margin-top: 10px;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 42px;
  height: 42px;
  background-color: var(--main-fore-color);
  transition: all .5s ease;
  cursor: pointer;

  &:hover {
    background-color: var(--paled-bright-fore-color);
  }

  &:active, &:focus {
    background-color: var(--bright-fore-color);
  }
}
