:host {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-form {
  display: inline-flex;
  max-width: min-content;
  position: relative;
  padding: 7px;

  input {
    align-self: stretch;
    border: 1px solid var(--main-fore-color);
    background-color: transparent;
    color: var(--main-fore-color);
    padding-left: 10px;
    padding-right: 40px;

    &:hover {
      border-color: transparent;
    }
  }

  img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    //padding-top: 3px;
    width: 40px;
    height: 24px;
    color: #fff;
  }

}
