:host {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

form {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding-top: 30px;

  input + input {
    margin-top: 20px;
  }

  .list {
    margin-top: 20px;
    flex: 1 1 auto;
  }

}

.list {
  display: flex;
  flex-direction: column;

  .item + .item {
    margin-top: 16px;
  }

  > .item {
    display: flex;
    align-items: center;

    .body {
      display: block;
      flex: 1 1 auto;
      border: 1px solid var(--pale-fore-color);
      padding: 10px;
    }
  }

  button.add-item {
    margin-top: 15px;
    font-size: 22px;
    outline: none;
    background-color: transparent;
    border: 1px dashed var(--pale-fore-color);
    color: var(--main-fore-color);
    cursor: pointer;
    transition: all 1s ease;
    padding: 30px 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin-left: 20px;
      width: 25px;
      height: 25px;
    }

    &:hover, &:focus {
      border-color: var(--main-fore-color);
    }

    &:active {
      transition: all .3s ease;
      border-color: var(--bright-fore-color);
    }
  }

  button.add-item.add-field {
    display: flex;
    align-items: stretch;
    height: 100px;

    .not-hovered {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .hovered {
      display: none;
    }

    &:hover, &:focus {
      padding: 0;
      transition: 0s all ease;

      .not-hovered {
        display: none;
      }

      .hovered {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;

        button {
          margin: 7px;
          flex: 1 1 calc(50% - 14px);
        }
      }
    }

    &:active {
      border-color: var(--main-fore-color);
    }
  }
}

div.num-description {
  margin-top: 27px;
  display: flex;
  justify-content: space-between;

  div {
    flex: 1 1 auto;

    input {
      display: block;
    }
  }

  div + div {
    margin-left: 20px;
  }
}

.enum-description {
  .group {
    min-height: 92px;
  }

  button {
    width: 100%;
  }
}

.error {
  min-height: 40px;
  margin: 5px 0 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--danger-color);
  font-style: italic;
}

.loader {
  margin: 10px auto 30px;
}

button.submit {
  margin-top: 20px;
  margin-bottom: 18px;
  padding: 30px;
}
