:host {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

form {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding-top: 30px;

  input.category-title {

  }

  input + input {
    margin-top: 20px;
  }

  .block {
    display: block;
    width: 100%;
  }

  .list {
    margin-top: 20px;
    flex: 1 1 auto;
  }
}

.button-content {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    margin-left: 20px;
    width: 25px;
    height: 25px;
  }
}

.productInfoField {

  div.num-description {
    margin-top: 27px;
    display: flex;
    justify-content: space-between;

    div {
      flex: 1 1 auto;

      input {
        display: block;
      }
    }

    div + div {
      margin-left: 20px;
    }
  }
}

button.submit {
  margin-top: 20px;
  margin-bottom: 18px;
  padding: 30px;
}
