.table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;

  tr {
    cursor: pointer;

    &:hover {
      outline: 3px solid var(--bright-fore-color);
    }
  }

  .plus-row {
    text-align: center;
  }

  thead td {
    padding: 20px;
  }

  td {
    padding: 10px;
    border: 1px solid var(--main-fore-color);
  }


  tr td:last-child {
    width: 1%;
    white-space: nowrap;
  }

  .photo {
    width: 100%;
    height: auto;
  }
}
