<app-container>
  <ul class='list'>
    <li class='item'><a routerLinkActive='selected' routerLink='home'>Дом</a></li>
    <li class='item'><a routerLinkActive='selected' routerLink='catalog'>Каталог</a></li>
    <li class='item'><a routerLinkActive='selected' routerLink='chosen'>Избранное</a></li>
    <li class='item'><a routerLinkActive='selected' routerLink='cart'>Корзина</a></li>
    <li class='item'>
      <store-cellphone-number-link></store-cellphone-number-link>
    </li>
  </ul>
</app-container>
