:host {
  padding: 30px;
  background-color: var(--deep-back-color);
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .item {
    flex: 1 1 auto;
    margin: 10px;
    text-align: center;
  }
}

