:host {
  margin: 10px;
  flex: 0.5 1 31%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  background-color: lighten(#262626FF, 1%);
}

.photo {
  width: 285px;
  height: 240px;
  object-fit: contain;
}

.caption {
  margin-top: 8px;
  display: flex;

  .price {
    margin-left: 30px;
  }
}


.card-footer {
  width: 100%;
  padding: 20px 10px 12px;
  align-self: center;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .to-cart {

  }

  .to-chosen {
    margin-top: 15px;
  }
}
